{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center align-items-center">
    <div class=" col-md-5">
        <div class="card card-body card-group text-white" style="background-color: rgb(0, 0, 0); ">
            <div class="card-body">
                <h5 class="card-title">Editar Administradores</h5>
                <a href="tablas/administradores" class="btn btn-success btn-block">Administradores</a>
            </div>    
            <div class="card-body">
                <h5 class="card-title">Editar Clientes</h5>
                <a href="tablas/clientes" class="btn btn-warning btn-block">Clientes</a>
            </div>  
            <div class="card-body">
                <h5 class="card-title">Editar Trabajadores</h5>
                <a href="/tablas/trabajadores" class="btn btn-danger btn-block">Trabajadores</a>
            </div>  
            <div class="card-body">
                <h5 class="card-title">Editar Tarjetas</h5>
                <a href="/tablas/tarjetas" class="btn btn-info btn-block">Tarjetas</a>
            </div>  
            <div class="card-body">
                <h5 class="card-title">Editar Membresías</h5>
                <a href="/tablas/membresias" class="btn btn-primary btn-block">Membresías</a>
            </div>   
            <div class="card-body">
                <h5 class="card-title">Editar Citas</h5>
                <a href="/tablas/citas" class="btn btn-light btn-block">Citas</a>
            </div>   
        </div>
    </div>
</div>

{% endblock %}