{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center ">
    <div class="col-md-10">
        <table class="table table-sm table-dark">
        
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Membresía</th>
                <th scope="col">Vigencia</th>
                <th scope="col">FechaPago</th>

            </tr>
        </thead>
        <tbody>
            {% for x in membresias %}
            <tr>
                <th scope="row">{{ x['idMembresias'] }}</th>
                <td>{{ x['Membresia'] }}</td>
                <td>{{ x['Vigencia'] }}</td>
                <td>{{ x['UltimoPago'] }}</td>
            </tr>
            {% endfor %}
        </tbody>  
      </table>
    </div>

    <form class="col-md-9 text-white" style="background-color: #343a40;" action="/servlet/citas/register" method="POST" enctype="multipart/form-data">
        <br>
        <div class="form-title">
            <h2>Insertar un nuevo registro</h2>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Membresia">Membresia</label>
                <input type="text" class="form-control" id="Membresia" name="Membresia" required>
            </div>
            <div class="form-group col-md-6">
                <label for="Vigencia">Vigencia</label>
                <input type="text" class="form-control" name="Vigencia" id="Vigencia" required>
            </div>
            <div class="form-group col-md-6">
                <label for="UltimoPago">UltimoPago</label>
                <input type="text" class="form-control" name="UltimoPago" id="UltimoPago" required>
            </div>

        </div>
        
        
        <button type="submit" class="btn btn-info">Registrar</button>
        <br><br>
        
    </form>


</div>    

<br><br>



{% endblock %}